.table {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: grey;
}

.tableRow {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 8px;
}

.tableCell {
  list-style-type: none;
}

.tableCellActive {
  outline: 8px solid #00de00;
}

.tableCellDisabled {
  border-color: transparent;
  background-color: black !important;
  & img {
    opacity: 0.2;
  }
}
