@import '/src/assets/styles/palette.scss';

.table {
  padding: 8px 8px 0 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tableRow {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 8px;
}

.tableCell {
  list-style-type: none;
  border: 1px solid $lightGrey;
}

.tableCellActive {
  position: relative;
  z-index: 10;
  border: 1px solid $black;
  outline: 9px solid;
}

.tableCellDisabled {
  background-color: $black !important;
  & img {
    opacity: 0.2;
  }
}
