.layout {
  // width: 100vw;
  margin: 0 auto;
  max-width: 1100px;
  height: 100vh;
  overflow-y: auto;
  background-image: url('../../../assets/images/background-screen-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
