@import '/src/assets/styles/palette.scss';

.container {
  height: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: $white;
}
